<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My new demo</title>
    <link rel="icon" type="image/png" href="https://edgestatic.azureedge.net/welcome/static/favicon.png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>My new demo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus est sit amet lacus ullamcorper, in rhoncus velit molestie. Morbi ut sem a mauris condimentum fermentum non a orci. Donec libero tellus, fringilla a malesuada in, scelerisque nec risus. Pellentesque pharetra dolor eget elit gravida sagittis. Aliquam gravida condimentum odio, eget fringilla metus feugiat sit amet. Aliquam tristique tellus nec suscipit facilisis. Pellentesque lacus enim, fringilla vitae elit sed, euismod scelerisque dui. Morbi augue massa, commodo sit amet metus id, suscipit efficitur sem. Sed a ornare est, ut convallis nulla. Sed mollis tellus eu augue hendrerit lobortis. In tellus risus, venenatis tristique tempor eget, blandit eu elit.</p>
    <p>Ut magna libero, maximus quis lectus ac, auctor suscipit eros. Nulla placerat consequat enim, quis viverra risus tempus eget. Integer condimentum eros sit amet massa lacinia, ac placerat quam pellentesque. Maecenas eleifend orci nisi. Pellentesque bibendum venenatis urna id faucibus. Fusce eu mattis enim. Etiam aliquam ligula vitae ex elementum porttitor. Nulla suscipit nunc congue, fringilla sem nec, viverra orci. Vestibulum quam leo, accumsan eu dolor in, elementum gravida dolor.</p>
    <script src="script.js"></script>
</body>
</html>
