#output:empty::before {
  content: "The proofread text will appear here";
}

#text, #expected-languages {
  height: 9rem;
}

::highlight(correction-highlight) {
  text-decoration: wavy underline red;
  text-decoration-skip-ink: none;
}
