:root {
  --back: black;
  --text: white;
  --highlight: #f06;
}

body {
  background: var(--back);
  color: var(--text);
  font-family: monospace;
  font-size: 14pt;
  padding: 4rem;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  text-align: center;
}

input, button {
  font-size: inherit;
}

button, playlist-song::part(play) {
  background: var(--text);
  color: var(--back);
  border: none;
  padding: .5rem;
  cursor: pointer;
}

button:hover, playlist-song::part(play):hover {
  background-color: var(--highlight);
}

#waveform {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.playlist {
  background: #000a;
  grid-row: 1 / 5;
  grid-column: 2;
}

.playlist .empty-playlist {
  display: none;
  text-align: center;
}

.playlist .empty-playlist:has(+ .songs:empty) {
  display: block;
}

.songs {
  margin: 0;
  padding: 0;
}

.songs li {
  border-bottom: 1px solid #565656;
  padding: .5rem 0;
  list-style: none;
}

.songs li:last-child {
  border-bottom: none;
}

playlist-song {
  padding: 1rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.songs li:has(playlist-song.playing) {
  background: var(--text);
  color: var(--back);
}

playlist-song::part(actions) {
  color: transparent;
}

playlist-song::part(actions)::before {
  content: '...';
  color: var(--text);
}

playlist-song.playing::part(actions)::before {
  color: var(--back);
}

playlist-song.playing::part(play) {
  visibility: hidden;
}

.app-controls button, .player-controls button {
  margin: .5rem;
}

[popup] {
  padding: 0;
  background: black;
  border: 2px solid black;
  gap: 2px;
  flex-direction: column;
}

[popup]:top-layer {
  display: flex;
}
