---
layout: playground.njk
title: Translator API playground
shorttitle: Translator API
description: Web API for translating text between languages using the browser-provided language model. For more information, see <a href="https://learn.microsoft.com/microsoft-edge/web-platform/writing-assistance-apis" target="_blank">Summarize, write, and rewrite text with the Writing Assistance APIs</a>.
stylesheet: translator-api.css
script: translator-api.js
permalink: translator-api/
---

<div class="settings-row no-separator">
  <label for="source-language">Source language</label>
  <select name="source-language" id="source-language">
    <option value="en" selected>English</option>
    <option value="fr">French</option>
    <option value="es">Spanish</option>
    <option value="de">German</option>
  </select>
</div>

<div class="settings-row no-separator">
  <label for="input">Text to translate</label>
  <textarea spellcheck="false" id="input"></textarea>
</div>

<div class="settings-row no-separator">
  <label for="target-language">Target language</label>
  <select name="target-language" id="target-language">
    <option value="en">English</option>
    <option value="fr" selected>French</option>
    <option value="es">Spanish</option>
    <option value="de">German</option>
  </select>
</div>

<div class="settings-row submit">
  <button class="ai-button" id="translate">Translate</button>
  <button id="stop">Stop</button>
</div>