---
layout: playground.njk
title: Translator API playground
shorttitle: Translator API
description: Web API for translating text between languages using the browser-provided language model. For more information, see <a href="https://learn.microsoft.com/microsoft-edge/web-platform/translator-api" target="_blank">Translate text with the Translator API</a>.
stylesheet: translator-api.css
script: translator-api.js
permalink: translator-api/
---

<div class="settings-row no-separator">
  <label for="source-language">Source language</label>
  <select name="source-language" id="source-language"></select>
</div>

<div class="settings-row">
  <label for="target-language">Target language</label>
  <select name="target-language" id="target-language"></select>
</div>

<div class="settings-row">
  <label for="input">Text to translate</label>
  <textarea spellcheck="false" id="input"></textarea>
</div>

<div class="settings-row submit">
  <button class="ai-button" id="translate">Translate</button>
  <button id="stop">Stop</button>
</div>