---
layout: playground.njk
title: LanguageDetector API playground
shorttitle: LanguageDetector API
description: Web API for identifying the likely natural language of provided text, using an on-device language detection model. For more information, see <a href="https://learn.microsoft.com/microsoft-edge/web-platform/languagedetector-api" target="_blank">Identify languages with the LanguageDetector API</a>.
stylesheet: languagedetector-api.css
script: languagedetector-api.js
permalink: languagedetector-api/
---

<div class="settings-row">
  <label for="text">Text to analyze</label>
  <textarea spellcheck="false" id="text">El cráter mide más de 180 km de diámetro y forma una de las zonas de impacto más grandes del mundo. 
Se estima que el asteroide que formó el cráter medía alrededor de 12 km de diámetro. Fue descubierto a finales de la década de 1970 por 
Antonio Camargo Zanoguera, Glen Penfield y colaboradores, geofísicos que trabajaban en Yucatán para la empresa paraestatal Petróleos Mexicanos 
en busca de yacimientos de petróleo. Inicialmente, no se pudieron encontrar pruebas que evidenciaran que esa inusual estructura geológica 
era en realidad un cráter de impacto, por lo que se abandonaron las investigaciones.
    
De Wikipedia, la enciclopedia libre.</textarea>
</div>

<div class="settings-row submit">
  <button class="ai-button" id="detect">Detect language</button>
</div>