---
layout: playground.njk
title: Rewriter API playground
shorttitle: Rewriter API
description: Web API to modify text in different tones, lengths, etc. using the browser-provided language model. For more information, check out <a href="https://learn.microsoft.com/microsoft-edge/web-platform/writing-assistance-apis" target="_blank">the API documentation</a>.
stylesheet: rewriter-api.css
script: rewriter-api.js
---

<div class="settings-row no-separator">
  <label for="text">
    Text to rewrite
    <span role="tooltip" id="text-tooltip" style="anchor-name:--text-anchor;">
      <span class="tooltip-content" style="position-anchor:--text-anchor;">
        The text that you want the rewriter to process. This can be any text, such as a short paragraph, an article, a
        blog post, or any other type of content that you want to rewrite.
        The rewriter will generate a rewritten version based on this content.
      </span>
    </span>
  </label>
  <textarea spellcheck="false" id="text" placeholder="The text that you want to rewrite"
    aria-describedby="text-tooltip">The app crashes constantly with the latest update. What a waste of time! The developers are useless..</textarea>
</div>

<div class="settings-row">
  <label for="shared-context">
    Shared context
    <span role="tooltip" id="shared-context-tooltip" style="anchor-name:--shared-context-anchor;">
      <span class="tooltip-content" style="position-anchor:--shared-context-anchor;">
        Shared context to be used by the rewriter. This context describes the type of text that the rewriter will be
        processing.
        This context is shared across all rewrites that you will be doing in this rewriter session.
      </span>
    </span>
  </label>
  <textarea id="shared-context"
    aria-describedby="shared-context-tooltip">This is user feedback about an app being submitted to a public forum.</textarea>
</div>

<div class="settings-row">
  <label for="context">
    Context
    <span role="tooltip" id="context-tooltip" style="anchor-name:--context-anchor;">
      <span class="tooltip-content" style="position-anchor:--context-anchor;">
        Specific context to be used for this rewrite task only.
        This context is used in addition to the shared context, to provide rewriting instructions for the specific text
        to be rewritten.
      </span>
    </span>
  </label>
  <textarea type="text" id="context"
    aria-describedby="context-tooltip">Refine user feedback to remove harsh, profane, or negative language while preserving the core issue, ensuring clarity and professionalism.</textarea>
</div>

<div class="settings-row no-separator">
  <label for="tone">Tone</label>
  <select name="tone" id="tone">
    <option value="as-is">As-is</option>
    <option value="more-formal">More formal</option>
    <option value="more-casual" selected>More casual</option>
  </select>
</div>

<div class="settings-row no-separator">
  <label for="length">Length</label>
  <select name="length" id="length">
    <option value="as-is">As-is</option>
    <option value="shorter" selected>Shorter</option>
    <option value="longer">Longer</option>
  </select>
</div>

<div class="settings-row">
  <label for="format">Format</label>
  <select name="format" id="format">
    <option value="as-is">As-is</option>
    <option value="markdown" selected>Markdown</option>
    <option value="plain-text">Plain text</option>
  </select>
</div>

<div class="settings-row submit">
  <button class="ai-button" id="rewrite">Rewrite</button>
  <button id="stop">Stop</button>
</div>