body {
  font-size: 14pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--background);
  color: var(--color);
  --spacing: .5rem;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

* {
  box-sizing: content-box;
}

input, button {
  border: none;
  margin:  0;
  padding: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
}
