:root {
    --background: #222;
    --color: #fff;
    --dropshadow: #000;
    --hoverdone: #369;
    --hovershadow: #000;
    --separator: #ccc;
    --done: #369;
    --remove: #369;
    --hovertext: #333;
}