:root {
    --background: rgb(3, 1, 113);
    --color: #fff;
    --dropshadow: #000;
    --hoverdone: #369;
    --hovershadow: #000;
    --separator: #ccc;
    --done: #ccc;
    --remove: #369;
    --hovertext: #333;
}