:root {
    --background: lightblue;
    --color: black;
    --dropshadow: #333;
    --hoverdone: #000;
    --hovershadow: #999;
    --separator: #000;
    --done: #666;
    --remove: #369;
    --hovertext: #333;
}