.searchbar {
    display: flex;
    color: #fff;
    background: black;
    border-radius: 10px;
    box-shadow: 0 5px 8px var(--dropshadow);
    flex-direction: row;
 } 
 .searchbar label, .searchbar input {
    flex-grow: 1;
    padding: .2em .5em;
    /* -moz-animation: dummy 1s infinite; */
}
.searchbar input[type="submit"] {
    background: #369;
    color: #fff;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.searchbar input[type="text"] {
    flex-grow: 3;
    background: #fff;
    border: 1px solid #ccc;
    border-width: 1px 0;
}
li {
  list-style: none;
  padding: 5px;
  line-height: 1.3;
  position: relative;
  transition: 200ms;
  border-bottom: 1px solid var(--separator);
}
li:hover {
  background: #eee;
  box-shadow: 0 2px 6px var(--hovershadow);
  color: #000;
}
input[type=checkbox] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}
input[type=checkbox] + span {
  fill: black;
} 
li:hover input[type=checkbox]:checked + span {
  color: var(--hoverdone)
}
input[type=checkbox]:checked + span  {
  color: var(--done);
  text-decoration: line-through;
} 
input[type=checkbox]:checked + span + button  {
  color:var(--remove);
} 
input[type=checkbox]:checked + span + button  {
  color:var(--remove);
} 
label:hover button, label:hover input[type=checkbox]:checked + span + button {
  color: firebrick;
}
li label {
  display: block;
}
li button {
  color: transparent;
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 5px;
}
