.images {
  overflow: hidden;
  padding: 1rem;
  padding-top: env(titlebar-area-height, 1rem);
  transform: translateX(-100vw);
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.images:not(.hidden) {
  animation: appear .1s ease-out forwards;
  display: flex;
}

.images .image-container {
  padding: .5rem;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  align-content: center;
  background: #00000006;
  flex: 1;
  width: 100%;
}

.images .input:not(.empty) .instructions {
  display: none;
}

.images .input .instructions {
  border: 2px dashed var(--separator-color);
  background-image: url("../icons/add-images.png");
  background-repeat: no-repeat;
  background-position: center 2rem;
  background-size: 60px;
  padding: calc(60px + 2rem) 2rem 2rem 2rem;
  border-radius: .5rem;
}

.dropping-images .images .input .instructions {
  border-color: var(--main-color);
}

.dropping-images .images .input {
  background: #fffae0;
}

.images .input .instructions p {
  font-size: 1.2rem;
}

.images .input .instructions button {
  display: inline;
  background: none;
  color: var(--main-color);
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

.images .image-name {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-block-start: auto;
}

.images .image-container .image {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8rem;
}

.images .image-container img {
  max-height: 100px;
}

.running .images .output::before {
  content: "";
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-image: url('../favicon-96.png');
  margin: 2rem;
  animation: spin 1s linear infinite;
  box-shadow: 0 0 .5rem 0 #0006;
  border-radius: 50%;
}

@keyframes spin {
  to { transform: rotate(1turn); }
}

.images .flow-actions,
.images .save-actions {
  display: flex;
  justify-content: center;
  gap: .5rem;
}
