@import "reset.css";
@import "buttons.css";
@import "layout.css";
@import "list-of-flows.css";
@import "editor.css";
@import "welcome.css";
@import "step-chooser.css";
@import "images.css";

:root {
  --background-color: white;
  --flows-sidebar-width: minmax(200px, 15%);
  --steps-sidebar-width: minmax(200px, 20%);
  --main-color: hsl(201, 71%, 24%);
  --clear-background-color: hsl(201, 71%, 94%);
  --sidebar-text-color: white;
  --text-color: black;
}

@media (max-width: 900px) {
  :root {
    --flows-sidebar-width: 120px;
  }
}

html {
  background: var(--background-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11pt;
  color: var(--text-color);
}
