body {
  display: grid;
  grid-template-columns: var(--flows-sidebar-width) var(--steps-sidebar-width) 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "logo  editor images"
    "flows editor images";
  border-block-start: env(titlebar-area-y, 1px) solid var(--separator-color);
}

h1 {
  grid-area: logo;
}

.flows {
  grid-area: flows;
}

.editor {
  grid-area: editor;
}

.images {
  grid-area: images;
}
