:root{
    --background: var(--black);
    --text: var(--off-white);
    --card-bg: var(--grey);
    --subheader2: var(--yellow);
    --btn-category-bg: var(--grey) ;
    --btn-category-border: var(--blue);
    --btn-category-fg: var(--off-white);
    --footer-fg: var(--off-white);
    --footer-bg: var(--dark-blue);
}