{% include "header.njk" %}

<main>
  {{ content | safe }}
</main>

<script src="/Demos/built-in-ai/static/session.js"></script>
<script src="/Demos/built-in-ai/static/spinner.js"></script>

{% include "footer.njk" %}